/* *{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    color:black;
} */
#a1{
    height:100px;
    width:100%;
    border:2px solid black;
    display: flex;
    justify-content: start;
    position: relative;
}
#a{
    height:45px;
    width:78px;
    border: 1px solid black;
    background-color: aqua;
    position: absolute; 
    top:15px;
    left:25px;
    padding-top: 15px;
    padding-left: 35px;
   
}
#a:hover{
border-color: blue;
background-color: coral;
}
#b{
    height:45px;
    width:78px;
    border: 1px solid black;
    background-color: aqua;
    position: absolute; 
    top:15px;
    left:200px;
    padding-top: 15px;
    padding-left: 35px;
}
#b:hover{
border-color: blue;
background-color: coral;
}