* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: palevioletred;
  }
  div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: relative;
  }
  div:hover{
       height: 300px;
       width:300px
  }
  
  #d1 {
    height: 130px;
    width: 130px;
    position: absolute;
    border: 2px solid blueviolet;
    background-color:blueviolet;
    border-radius: 85px;
    margin-left: 100px;
    margin-top: 105px;
  }
  #d2 {
    height: 130px;
    width: 130px;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    margin-top: 154px;
    transform: rotate(45deg);
  }
  #d3 {
    height: 132px;
    width: 132px;
    position: absolute;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    margin-right: 95px;
    margin-top: 105px;
    border-radius: 90px;
  }
  .face {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: rgb(221, 199, 33);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .eyes {
    position: relative;
    top: -40px;
    display: flex;
  }
  .eyes .eye {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    background: #fff;
    margin: 0 15px;
    border-radius: 500%;
  }